USE [master]
GO
/****** Object:  Database [baitap]    Script Date: 02/03/2017 10:39:39 CH ******/
CREATE DATABASE [baitap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'baitap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\baitap.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'baitap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\baitap_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [baitap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [baitap]
GO
/****** Object:  Table [dbo].[Bacsi]    Script Date: 02/03/2017 10:39:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bacsi](
	[Mabs] [varchar](25) NOT NULL,
	[hotenbacsi] [varchar](150) NULL,
 CONSTRAINT [PK_Bacsi] PRIMARY KEY CLUSTERED 
(
	[Mabs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[benhnhan]    Script Date: 02/03/2017 10:39:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[benhnhan](
	[MSBN] [varchar](15) NOT NULL,
	[SoCmnd] [varchar](25) NULL,
	[Hoten] [varchar](150) NULL,
	[Diachi] [varchar](250) NULL,
 CONSTRAINT [PK_benhnhan] PRIMARY KEY CLUSTERED 
(
	[MSBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[khambenh]    Script Date: 02/03/2017 10:39:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[khambenh](
	[MSBN] [varchar](15) NOT NULL,
	[Mabs] [varchar](25) NULL,
	[ngaykham] [date] NULL,
	[ghichu] [text] NULL,
 CONSTRAINT [PK_khambenh] PRIMARY KEY CLUSTERED 
(
	[MSBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Bacsi] ([Mabs], [hotenbacsi]) VALUES (N'123', N'Nguyen Van A')
INSERT [dbo].[Bacsi] ([Mabs], [hotenbacsi]) VALUES (N'124', N'Le Thi An')
INSERT [dbo].[benhnhan] ([MSBN], [SoCmnd], [Hoten], [Diachi]) VALUES (N'1010101', N'91919191', N'ffdhhfgh', N'fghfghfgh')
INSERT [dbo].[benhnhan] ([MSBN], [SoCmnd], [Hoten], [Diachi]) VALUES (N'131313', N'131313', N'adadad', N'adadada')
INSERT [dbo].[benhnhan] ([MSBN], [SoCmnd], [Hoten], [Diachi]) VALUES (N'14141414', N'14141414', N'sdfsdf', N'hgjghjghj')
ALTER TABLE [dbo].[khambenh]  WITH CHECK ADD  CONSTRAINT [FK_khambenh_Bacsi] FOREIGN KEY([Mabs])
REFERENCES [dbo].[Bacsi] ([Mabs])
GO
ALTER TABLE [dbo].[khambenh] CHECK CONSTRAINT [FK_khambenh_Bacsi]
GO
ALTER TABLE [dbo].[khambenh]  WITH CHECK ADD  CONSTRAINT [FK_khambenh_benhnhan] FOREIGN KEY([MSBN])
REFERENCES [dbo].[benhnhan] ([MSBN])
GO
ALTER TABLE [dbo].[khambenh] CHECK CONSTRAINT [FK_khambenh_benhnhan]
GO
USE [master]
GO
